pytest-homeassistant-custom-component
# Until the libraries are on PyPI, install them from GitHub.
elli-2-modbus @ git+https://github.com/frane/elli-2-modbus
elli-eebus @ https://github.com/frane/elli-eebus/archive/dbf59c9e54fbcf433dc6aafac11921bdf278915a.zip
